:root {
  --font-primary: brandon-grotesque, sans-serif;
  --color-blue: #333BD0;
  --color-navy: #252852;
  --color-pink: #F8EFE8;
  --color-grey: #313131;
}
  
html {
  font-family: var(--font-primary);
  scroll-behavior: smooth;
  background-color: var(--color-blue);
}

body {
    background-color: var(--color-pink);
  }

/* ---------Colours---------- */

.blue {
  color: var(--color-blue);
}

.white {
  color: white;
}

.grey {
  color: var(--color-grey);
}

/* ---------Fonts---------- */

.upper {
  text-transform: uppercase;
}

.bold {
  font-weight: 700;
}

.black {
  font-weight: 900;
}

.light {
  font-weight: 300;
}


.read-more-link {
  text-decoration: none;
}

h4 {
  line-height: 1.1
}


/* ---------Borders---------- */

.border-top {
  border-top: 5px solid var(--color-blue);
}

.border-btm {
  border-bottom: 5px solid var(--color-blue);
}

.border-right {
  border-right: 5px solid var(--color-blue);
}

.border-left {
  border-left: 5px solid var(--color-blue);
}


/* ---------Others---------- */

.height-100 {
  height: 100px;
}

/* ---------Home Page---------- */

.created-by-box {
  background-color: var(--color-blue);
  right: 2em;
}

.read-latest-box {
  background-color: var(--color-blue);
  left: 2em;
}
