:root {
  --font-primary: brandon-grotesque, sans-serif;
  --color-blue: #333BD0;
  --color-navy: #252852;
  --color-pink: #F8EFE8;

}
  
html {
  font-family: var(--font-primary);
  scroll-behavior: smooth;
}

body {
    background-color: var(--color-pink);
  }

  h1 {
      color: red;
  }