:root {
  --font-primary: brandon-grotesque, sans-serif;
  --color-blue: #333BD0;
  --color-navy: #252852;
  --color-pink: #F8EFE8;
  --color-grey: #313131;
}
  
html {
  font-family: var(--font-primary);
  scroll-behavior: smooth;
  background-color: var(--color-blue);
}

body {
    background-color: var(--color-pink);
  }

/* ---------Colours---------- */

.blue {
  color: var(--color-blue);
}

.white {
  color: white;
}

.grey {
  color: var(--color-grey);
}

/* ---------Fonts---------- */

.upper {
  text-transform: uppercase;
}

.bold {
  font-weight: 700;
}

.black {
  font-weight: 900;
}

.light {
  font-weight: 300;
}

h4 {
  line-height: 1.1
}

.read-more-link {
  text-decoration: none;
}

.comic-tag {
  background-color: var(--color-blue);
}

.embed {
  border: 1px solid var(--color-navy);
}

figure {
  margin-bottom: 0;
}

/* ---------Borders---------- */

.border-top {
  border-top: 5px solid var(--color-blue);
}

.border-btm {
  border-bottom: 5px solid var(--color-blue);
}

.border-right {
  border-right: 5px solid var(--color-blue);
}

.border-left {
  border-left: 5px solid var(--color-blue);
}

.test {
  height: 240px;
}

/* ---------Links & Buttons---------- */

.read-more-link:hover {
  transform: scale(1.05);
}

.read-more-link:hover .icon {
  transform: translateX(4px);
}

.read-more-link {
  transition: all .3s ease-in-out;
}

/* ---------Others---------- */

.height-100 {
  height: 100px;
}

/* ---------Marquee Animation---------- */
.marquee {
  height: 50px;
  overflow: hidden;
}
  
.marquee p {
  width: 100%;
  height: 100%;
  margin: 0;
  line-height: 35px;
  text-align: center;
  -moz-transform: translateX(100%);
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  -moz-animation: scroll-left 1s        <div>
          <a class="read-more-link bold blue ib" href="">Read More</a><i class="icon i-18">
            <img src="images/arrow-right.svg" alt="">
          </i>
        </div>  linear infinite;
  -webkit-animation: scroll-left 1s linear infinite;
  animation: scroll-left 20s linear infinite;
}
  
@-moz-keyframes scroll-left {
  0% {
      -moz-transform: translateX(100%);
  }
  100% {
      -moz-transform: translateX(-100%);
  }
}

@-webkit-keyframes scroll-left {
  0% {
      -webkit-transform: translateX(100%);
  }
  100% {
      -webkit-transform: translateX(-100%);
  }
}

@keyframes scroll-left {
  0% {
      -moz-transform: translateX(100%);
      -webkit-transform: translateX(100%);
      transform: translateX(100%);
  }
  100% {
      -moz-transform: translateX(-100%);
      -webkit-transform: translateX(-100%);
      transform: translateX(-100%);
  }
}

/* ---------Home Page---------- */

.created-by-box {
  background-color: var(--color-blue);
  right: 2em;
}

.read-latest-box {
  background-color: var(--color-blue);
  left: 2em;
}

.column-2 {
  border-bottom: 5px solid var(--color-blue);
}

.past-1, .past-2 {
  border-bottom: 5px solid var(--color-blue);
}

.portrait-video {
padding: 0 10em 0 10em;
}

.nick-intro {
  left: 2em;
  z-index: 1;
  max-width: 300px;
}

.mel-intro {
  right: 2em;
  z-index: 1;
  max-width: 300px;
}

.designed-by-text {
  line-height: 1;
}

.page-number {
  background-color: var(--color-blue);
  height: 100%;
}


@media only screen and (min-width: 38em) {

  h1 {
    font-size: 3rem;
    line-height: 5.2rem;
  }

  .column-2, .column-3 {
    border-bottom: none;
    border-left: 5px solid var(--color-blue);

  }

  .past-1 {
    border-left: 5px solid var(--color-pink);
    border-bottom: none;
}

  .past-2, .past-3 {
    border-bottom: none;
    border-left: 5px solid var(--color-blue);
  }
}

@media only screen and (min-width: 50em) {

  h1 {
    font-size: 6rem;
    line-height: 5.2rem;
  }
}

@media only screen and (min-width: 95em) {

  h1 {
    font-size: 6.5rem;
    line-height: 5.2rem;
  }
}