<!DOCTYPE html>
<html lang='en-ca'>
<head>
  <meta charset='utf-8'>
  <title>Nick and Mel Comics</title>
  <meta name="description" content="Comics about Nick and Mel's life!">
  <meta name='viewport' content='width=device-width,initial-scale=1'>
  <link rel="shortcut icon" type="image/x-icon" href="{{ "/favicon.ico" | prepend: site.baseurl }}">
  <!-- Facebook -->
  <meta property="og:type" content="website">
  <meta property="og:locale" content="en_CA">
  <meta property="og:title" content="Nick and Mel Comics">
  <meta property="og:url" content="http://www.melanypv.ca">
  <meta property="og:image" content="{{site.baseurl}}/">
  <meta property="og:site_name" content="Mélany Pelletier-Vaillant">
  <meta property="og:description" content="Nick and Mel Comics">
  <!-- Twitter -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:title" content="Nick and Mel Comics">
  <meta name="twitter:url" content="http://www.melanypv.ca">
  <meta name="twitter:description" content="Nick and Mel Comics">
  <!-- CSS -->
  <link href="{{site.baseurl}}/css/site.css" rel="stylesheet">
  <link rel="stylesheet" href="https://use.typekit.net/vat7xad.css">
</head>
<body>

  <div class="wrapper relative height-100">
    <div class="created-by-box absolute pin-right-bottom gutter-1-2 pad-t-1-2 pad-b-1-4">
      <p class="push-0 white upper black">Created by Melany PV</p>
    </div>
  </div>

  <div class="wrapper">
    <div class="gutter border-top pad-t-1-2 pad-b-1-2">
      <i class="icon i-18 arrow-left">
        <img src="{{site.baseurl}}/images/arrow-right.svg" alt="">
      </i>
      <a class="read-more-link bold blue ib" href="{{site.baseurl}}/index">Return to Front Page
      </a>    
    </div>
  </div> 
  {{content}}
  <footer class="border-top border-btm relative">
    <div class="grid grid-middle">
      <div class="unit xs-1-5 gutter-2  pad-t-1-2 pad-b-1-2">
        <p class="push-0 blue milli">Updated August 2020</p>
      </div>
      <div class="unit xs-3-5 text-center gutter-2  pad-t-1-2 pad-b-1-2">
        <p class="push-0 blue bold">To see more of Mel’s design work, visit her portfolio website <a href="http://melanypv.ca/">www.melanypv.ca</a></p>
      </div>
      <div class="unit xs-1-5 text-right">
      </div>
    </div>
    <div class="page-number ib absolute pin-center-right ">
      <p class="push-0 upper white pad-t-1-2 bold small gutter-1-4">Home</p>
    </div>
  </footer>

</body>
</html>